.key {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #62ff62;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  font-size: 30px;

  &--grow {
    animation-name: grow;
    animation-duration: 0.5s;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
